:root {
  --color-black: #000;
  --color-white: #fff;
  --color-beige: blanchedalmond;
  --color-blue: paleturquoise;

  --color-text-base: var(--color-black);
  --color-bg-base: var(--color-beige);
  --color-bg-second: var(--color-blue);
}
