{% extends 'layouts/main.njk' %}

{% block css %}
  <link rel="stylesheet" href="/src/styles/second.scss"/>
{% endblock %}

{% block js %}
  <script type="module" src="/src/scripts/second.ts"></script>
{% endblock %}

{% block contents %}
  <p>Second Page Contents</p>
  <img src="/assets/image/vite.svg" alt="vite" width="100" height="100" decoding="async"/>
{% endblock %}